one.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://wwww.w3.org/2001/XMLSchema">
<xs:element name="destination">
    <xs:complexType>
    <xs:sequence>
    <xs:element name="city" type="xs:string"/>
    <xs:element name="state" type="xs:string"/>
    <xs:element name="pincode" type="xs:int"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>
    </xs:schema>
